DB_HOST=localhost
DB_PORT=5432
DB_NAME=securesure
DB_USER=postgres
DB_PASSWORD=steve123

CLOUD_DB_HOST=ep-autumn-moon-arbrglhs.c-4.us-west-2.aws.neon.tech
CLOUD_DB_PORT=5432
CLOUD_DB_NAME=securesure
CLOUD_DB_USER=dashboard_reader
CLOUD_DB_PASSWORD=npg_14dEvymOSwrs
CLOUD_DB_SSLMODE=require

CLOUD_BI_USER=dashboard_reader
CLOUD_BI_PASSWORD=npg_14dEvymOSwrs